.active {
  background: url(/images/china.jpg) no-repeat center center fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#countholder .link{
  margin-top: 40px;
}
 
#countholder a{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
}
 
/* #countholder a:hover{
  background: #487;
} */
 
#countholder{
 font-family: sans-serif;
 display: inline-block;
 font-weight: 100;
 text-align: center;
 font-size: 48px;
 padding:20px;
 border-radius: 6px;
 margin-bottom:30px;
 line-height: 1.4;
}
 
 
#countholder > div{
 padding: 4px 10px;
 display: inline-block;
}
 
#countholder div > span{
 border-radius: 3px;
 display: inline-block;
}
 
#countholder .smalltext{
 padding-top: 5px;
 font-size: 16px;
}
