.App {
  text-align: center;
}

.App-header {
  background: url(/images/china.jpg) no-repeat center center fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: bisque;
}

.popover {
  height: 100px;
}

#sound-button {
  padding: 15px;
}
